{% load static %}
{% bootstrap_css %}
<div class="container">


  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand"><h1>To-Do リスト</h1></a>
    <form class="form-inline" method="POST">
         {{form.title}}
         {% csrf_token %}
      
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">追加</button>
    </form>
  </nav>
  
  {% for task in tasks %}
    <div class="bd-highlight mb-3">
      {% if task.complete == True %}
       <strike>{{task}}</strike>
       {% else %}
       <span>{{task}}</span>
      {% endif %} 
      <div class="alert alert-primary" role="alert">

        <a href="{% url 'update_task' task.id %}">アップデート</a>
      </div>
      <div class="alert alert-warning" role="alert">

        <a href="{% url 'delete' task.id %}" class="alert-link">削除</a>
      </div>
  
    </div>
  {% endfor %}
</div>